/* external css: flickity.css */



* {
    box-sizing: border-box;
}

.carousel-cell {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    height: auto;  
}

/* .carousel img {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    height: auto;
}
 */
 .carousel-cell img {
    display: block;
    width: 100%;
    height: 100%;
}

/* .flickity-centered-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
 */

 .img-overlay-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,.5);
  }
  
  .carousel-cell:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }




@media screen and (min-width: 768px) {
    .carousel img {
        height: auto;
    }
}

.flkty-button {
    position: absolute;
    overflow: hidden;
    background: red;
    top: 0;
    height: 100%;
    width: 7%;
    z-index: 3;
    opacity: 0;
    display: none;
  }
  @media (min-width: 667px) {
    .flkty-button {
      width: 10%;
    }
  }
  .flkty-button-mask {
    position: absolute;
    top: 0;
    width: 7%;
    height: 8rem;
    background: #ff0;
    z-index: 3;
    opacity: 0;
    display: none;
  }
  @media (min-width: 667px) {
    .flkty-button-mask {
      width: 10%;
    }
  }
  .flkty-button-mask.is-left {
    left: 0;
  }
  .flkty-button-mask.is-right {
    right: 0;
  }



.flkty-button-previous {
    left: 0;
    cursor: url("../css/left-arrow.svg") 32 28, w-resize;
    /* cursor: url(arrow-left.95575b15.svg) 32 28, w-resize;
    cursor: -webkit-image-set(
          url(arrow-left.3a91dbca.png) 1x,
          url(arrow-left-2x.840d2dc9.png) 2x
        )
        32 28,
      w-resize; */
  }
  .flkty-button-next {
    right: 0;
    cursor: url("../css/right-arrow.svg") 32 28, w-resize;
   /*  cursor: url(arrow-right.835bf1eb.png) 32 28, e-resize;
    cursor: url(arrow-right.13b09b55.svg) 32 28, e-resize;
    cursor: -webkit-image-set(
          url(arrow-right.835bf1eb.png) 1x,
          url(arrow-right-2x.7e34701b.png) 2x
        )
        32 28,
      e-resize; */
  }
